.logo_background{
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: 100% 100%;
}
.page-header{
    display: inline;
    border-bottom: none;
}
.profile{
    text-align: center;
}
.messages-container{
    margin-top: 50px;
}
.message{
    color: white;
    margin-left: -30px;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    background: rgba(128,128,128,0.75);
    border-radius: 20px;
}
.comment{
    border: groove 1px white;
    margin-top: 5px;
    background: rgba(128,128,128,0.85);
    border-radius: 20px;
    list-style-type: none;
}
.message-head{
    display: inline-flex;
}
.concealer{
    height: 20px;
    margin-right: 10px;
}
.loginBlock{
    display: inline-block;
    text-align: center;
    color: black;
}
.loginBlock img{
    height: 50px;
    width: 50px;
}
.row.no-marg{
    margin-right: 0;
    margin-left: 0;
}
.loginPageBlock{
    margin-top: 20%;
    text-align:center;
    color: white;
}
.inputText{
    margin-top: 20px;
    margin-bottom: 20px;
}
.root{
    list-style-type: none;
}
.reply{
    padding-left: 20px;
    text-underline: none;
    color: black;
}